<footer>
    <div id="footerdiv">
        <div></div>
        <div id="footercopy">
            <img class="ivylogo" src="img/Ivy Tech Logo.png" alt="">
            <p id="copy">Copyright &#xA9; 2024-2025 Credits to FA24 Blue Team from FA25 Brown Team</p>
        </div>
        <div id="footerlinks">
            <a href="mailto:info@ivytech.edu">Email IvyTech</a>
            <a href="tel:888-489-5463">Call IvyTech</a>
            <p>(888) 489-5463</p>
            <p>(888) IVY-LINE</p>
        </div>
    </div>    
</footer>