<html lang = "en">
<%- include('./partials/head.ejs') %>
<body style="background-image: url(img/bg_faint.png);">

    <%- include('./partials/nav.ejs') %>

    <div class="chat-container">
        <div class="chat-body" id="chat-body">
            <div class="message bot">
                <div class="avatar"><img src="img/ivybot_face.png"></div>
                <div class="content">
                    <p>Hi, I'm Ivy! I am here to assist you.</p><br>
                </div>                       
            </div>
        </div>
        <div class="promptbox">
            <form id="chatForm" action="#" onsubmit="return false;">
                <div id="userTypeSection">
                    <label for="userType">Are you a guest, student, or faculty?</label>
                    <select id="userType" name="userType" required>
                        <option value="">Select...</option>
                        <option value="Guest">Guest</option>
                        <option value="Student">Student</option>
                        <option value="Faculty">Faculty</option>
                    </select>
                    <button type="button" id="userTypeNext">Next</button>
                </div>
                <div id="emailSection" style="display:none;">
                    <input type="email" id="schoolEmail" name="schoolEmail" placeholder="Enter your school email" pattern=".+@ivytech\.edu">
                    <button type="button" id="emailNext">Next</button>
                </div>
                <div id="questionSection" style="display:none;">
                    <input type="text" id="prompt" name="prompt" placeholder="Type a question..." required autofocus>
                    <button type="submit" style="display:none"></button>
                </div>
            </form>
        </div>
    </div>

    <!-- ChatBot Fetch Script -->
   <script src="/scripts/chatbot.js"></script>

    <%- include('./partials/footer.ejs') %>

</body>
</html>